/* Importations des différents styles de font
====================================================*/
@font-face
{
    font-family: Rowdies;
    src: url(../fonts/Rowdies-Bold.ttf);
}

/* Normalisation supplémentaire
=============================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styles de base
=============================================== */
html {
	height: 100vh;
	scroll-behavior: smooth;
	font-size: clamp(14px, 0.5rem + 1vw, 18px);
}

body {
	width: 100%;
	min-height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column; 
}

header {
	background-color: #000000;
}

main.contenu {

	flex-wrap: nowrap;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,660d82+100 */
	background: linear-gradient(to bottom,  #000000 0%,#230042 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*S'étire pour prendre toute la place en largeur*/
	flex-grow: 1;

	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
}

section {

	padding: 30px 40px;

}

h3 {
	color: rgb(255, 255, 255);
	align-self: flex-start;
}

h1 {
	font-size: 2rem;
	padding:60px;
	font-family: Rowdies;
	color: #ddd;
}

h4{
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
	color: rgb(255, 255, 255);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.vertical-gradient-text {
  font-size: 2rem;
  text-align: center;
  color: #ddd;
  padding: 0;
  opacity: 0;     /* Pour compatibilité étendue */

}


.barre-menu,
.menu,
footer {
	background-color: #000000;
	color: #e5ebff;
}

/*Style du menu
================================*/
nav .annee a {
	display: block;
	padding: 0.5rem 1rem;
	margin-bottom: 0.2rem;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	color: #ddd;
	text-align: center;
}

nav a:hover {
	background: #efff11;
	color: #252525;
}


footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 50px;
	height: 60vh;
	font-size: small;
	font-style: italic;
	color: #ffffff;
}

/* Contrôle du menu et du bouton burger...
========================================================================== */

#cc-pour-bouton-burger:checked ~ .barre-menu > .bouton-burger {
	rotate: 90deg;
}

/*
On déplace le menu vers la droite, en lui enlevant la translation déjà appliquée
*/
#cc-pour-bouton-burger:checked ~ .barre-menu > .menu {
	translate: 0;
}

#cc-pour-bouton-burger {
	/*On cache la case à cocher*/
	display: none;
}

/* Mise en page pour les petits périphériques
=============================================== */

.barre-menu {
	
	position: fixed;
	height: 10vh;
	width: 100%;
	/*
	Conteneur flex en rangée avec alignement à droite pour
	les petits périphériques. Et les items-flex sont centrés
	sur l'axe secondaire.
	*/
	display: flex;
	justify-content: end;
	align-items: center;
	z-index: 1;
}

.menu {
	width: 100%;
	/*Position fixe sur petit écran en bas de la barre de la barre de menu*/
	position: fixed;
	top: 10vh;

	/*Sa hauteur est celle de la hauteur du viewport MOINS celle de la barre de navigation*/
	height: 90vh;
	/*Conteneur flex en colonne avec élément centré au milieu*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*Au démarrage on met le menu complètement à gauche*/
	translate: 100%;

	/*Mettre le menu par-dessus tout*/
	z-index: 999;

	/*Effet de transition*/
	transition: translate 500ms;
}

.bouton-burger {
	display: block;
	height: 2rem;
	width: 2rem;
	margin: 0.5rem;
	background: linear-gradient(
		to bottom,
		#ddd 0%,
		#ddd 20%,
		transparent 20%,
		transparent 40%,
		#ddd 40%,
		#ddd 60%,
		transparent 60%,
		transparent 80%,
		#ddd 80%,
		#ddd 100%
	);
	cursor: pointer;
	transition: rotate 400ms;
}

.bouton-burger:hover  {
	background: linear-gradient(
		to bottom,
		#efff11 0%,
		#efff11 20%,
		transparent 20%,
		transparent 40%,
		#efff11 40%,
		#efff11 60%,
		transparent 60%,
		transparent 80%,
		#efff11 80%,
		#efff11 100%
	);
}

/* Mise en page pour les grilles photos
=============================================*/

.conteneurDesPhotos {
	opacity: 0;
	display: grid;
	grid-template-columns: repeat(2, 200px); /* 2 colonnes égales */
	column-gap: 10px;
	gap: 10px;
	justify-content: center;
	padding: 50px;
}


.logo{
	width: 10px;
	height: 10px;	
}

.titre {
	font-family: Rowdies;
	font-weight: lighter;
	font-size: 20px;
	padding-right: 1rem;
	animation: animation-titre 2s;
	animation-fill-mode: backwards;
}

/*Classe pour révéler les sections*/
.active.fondu-en-bas {
	animation: fondu-en-bas 700ms cubic-bezier(.17, .67, .88, 1.46) forwards;
}

.conteneurDesPhotos img {
	width: 100%;
	height: 100%;
    object-fit: contain; /* coupe un peu si besoin, mais garde proportions */
	transition: transform ease 0.5s;
}
.publication {
	transition: transform ease 0.5s;
}

.publication:hover {
	transform: scale(1.1);
}


.video-responsive {
  width: 100%;
  height: auto;
  max-width: 800px; /* tu peux limiter la taille max */
  display: block;
  margin: 0 auto; /* centrer */
  opacity: 0;
}
.video-montage {
  width: 100%;
  height: auto;
  max-width: 800px; /* tu peux limiter la taille max */
  display: block;
  margin: 0 auto; /* centrer */
}
.video-intro {
  width: 100%;
  height: auto;
  max-width: 900px; /* tu peux limiter la taille max */
  display: block;
  margin: 0 auto; /* centrer */
  background-color: #000000;
  
}


/* --- Overlay de transition --- */
.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  animation: slideUp 0.8s ease forwards;
}


.transition.next {
  animation: slideDown 0.8s ease forwards;
}



/* Styles pour les écrans plus larges
=============================================== */

@media screen and (min-width: 991px) {

	body {
		display: flex;
		flex-direction: column;
	}

	
	.vertical-gradient-text {
  	font-size: 3rem;
  	background-clip: text;              /* Pour compatibilité étendue */
}

	footer {
		display: flex;
		flex-direction: row;
	}
	
	.logo{
		width: 160px;
		height: 120px;
	}

	.menu {
		width: 100%;
		height: auto;
		flex-direction: column;
		translate: 0;
	}

	nav {

		position: sticky;
	}

	.annee  {
		position: static;
		height: auto;
		display: flex;
		flex-direction: row;
		translate: 0;
	}

	.menu a {
		flex-grow: 1;
	}

.barre-menu {
  position: sticky;
  top: 0;
  color: white;
  transition: all 0.3s ease;
  z-index: 1000;
}

.barre-menu.petit {
  padding: 1px 10px;
}

.titre {
  font-size: 1.5rem;
  transition: 0.3s;
}

.barre-menu.petit .titre {
  font-size: 1rem;
  opacity: 0.8;
}

.bouton-burger {
	/*On cache le bouton burger*/
	display: none;
}
   
.conteneurDesPhotos {

	opacity: 0;
	display: grid;
	grid-template-columns: repeat(5, 220px); /* 3 colonnes égales */
	justify-content: center;
	align-self: center;

}

.conteneurDesPhotos img {
	width: 90%;
	height: 90%;
	object-fit: cover;
}



}
