
/* Animation CSS
======================================================================= */

/* Animation du titre et du sous-titre.
===================================*/
    
@keyframes animation-titre {
    from {
        opacity: 0;
        scale: 0.1;
        translate: 0 -200vh;
    }
    
    60% {
        opacity: 1;
        scale: 0.75;
        translate: 0 0vh;
        
    }
    
    100% {
        scale: 1;
        translate: 0 0;
    }
}
     
/* Animations pour le contenu principal des sections.
=============================================== */
@keyframes fondu-en-bas {
	0% {
		translate: 0 10vh;
		opacity: 0;
	}

	100% {
		translate: 0 0vh;
		opacity: 1;
	}
}

    